/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html 
  font-size 100% 
  -ms-text-size-adjust 100% 
  -webkit-text-size-adjust 100% 

/*
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html
button
input
select
textarea 
  font-family Ideal Sans SSm A, Ideal Sans SSm B, Helvetica Neue, Helvetica, Arial, sans-serif;


/**
 * Address margins handled incorrectly in IE 6/7.
 */

body 
  margin 0


/* ==========================================================================
   Content
   ========================================================================== */

